--swiftversion 5.10
--indent 4
--maxwidth 120
--commas inline
--trimwhitespace always
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--self remove
--header strip
--enable isEmpty
--enable redundantSelf
--enable trailingClosures
--disable andOperator
