parameters:
  level: 9
  paths:
    - src
    - tests
  excludePaths:
    - vendor/*
    - var/*
  parallel:
    maximumNumberOfProcesses: 4
  reportUnmatchedIgnoredErrors: true
  treatPhpDocTypesAsCertain: true
  checkMissingIterableValueType: true
  checkGenericClassInNonGenericObjectType: true

includes:
  - phpstan-baseline.neon
