[Unit]
Description=sidekiq
After=syslog.target network.target

[Service]
Type=notify
WatchdogSec=10
User=deploy
WorkingDirectory=/var/www/app/current
ExecStart=/usr/local/bin/bundle exec sidekiq -e production -C config/sidekiq.yml
ExecReload=/bin/kill -TSTP $MAINPID
Restart=always
RestartSec=1
KillMode=mixed
TimeoutStopSec=60

[Install]
WantedBy=multi-user.target
